body{
background-color: rgb(175, 189, 189);
margin-left: 5%;
}

.auth-container{
    padding-bottom: 15px;

}

input{
    margin-bottom: 10px;

}

.post {
  border: 1px solid gray;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.post-header {
  font-weight: bold;
}

.post-content {
  margin-top: 6px;
}

.post-actions {
  margin-top: 10px;
}