body{
background-color: rgb(175, 189, 189);
margin-left: 5%;
}

.auth-container{
    padding-bottom: 15px;

}

input{
    margin-bottom: 10px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
}