body{
background-color: rgb(175, 189, 189);
margin-left: 5%;
margin-right: 5%;
}

.auth-container{
    padding-bottom: 15px;

}

input{
    margin-bottom: 10px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
}

.feed-container {
    margin-bottom: 20px;
}

.username-link {
  cursor: pointer;
}

.username-link:hover {
    text-decoration: underline;
}

.load-more-btn {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.comment-list {
    max-height: 200px;
    overflow-y: auto;
}

.comment-input-section {
    margin-top: 15px;
}

.comment-input-field {
    width: 70%;
}








.post {
  border: 1px solid gray;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.post-header {
  font-weight: bold;
}

.post-content {
  margin-top: 6px;
}

.post-like {
  margin-top: 10px;
}



.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalStyle {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}